<h1><%= @manufacturer.name %></h1>
<h2><%= @manufacturer.country %></h2>

<h3>Available Cars:</h3>

<% if @cars.empty? %>
  <ul>
    <li>No cars!</li>
  </ul>
<% else %>
  <% @cars.each do |car| %>
  <ul>
    <li>Color: <%= car.color %></li>
    <li>Year: <%= car.year %></li>
    <li>Mileage: <%= car.mileage %> miles</li>
    <li>
      Description:
      <% if car.description.nil? %>
        (none)
      <% else %>
        <%= car.description %>
      <% end %>
    </li>
  </ul>
  <% end %>
<% end %>

<p><%= link_to 'Back to Manufacturers', manufacturers_path %></p>
